@charset "UTF-8";
/*ОБНУЛЕНИЕ СТИЛЕЙ*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, taxtarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------------*/
.container {
  max-width: 1740px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

body {
  background-color: #000000;
  color: #fff;
  font-family: Poppins;
  font-weight: 400;
  font-size: 28px;
}
@media (max-width: 1800px) {
  body {
    font-size: calc(18px + 10 * (100vw - 320px) / 1480);
  }
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}
@media (max-width: 1200px) {
  body::-webkit-scrollbar {
    width: calc(6px + 4 * (100vw - 320px) / 880);
  }
}
body::-webkit-scrollbar-thumb {
  background: #B67DFF;
  border-radius: 2px;
}

.copyright {
  font-size: 20px;
  line-height: 200%;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .copyright {
    font-size: calc(14px + 6 * (100vw - 320px) / 880);
  }
}
@media (max-width: 480px) {
  .copyright {
    text-align: center;
  }
}

.hero-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-transform: translateX(-36px);
          transform: translateX(-36px);
}
@media (max-width: 1400px) {
  .hero-logo {
    -webkit-transform: translateX(calc(-12px + -24 * (100vw - 320px) / 1080));
            transform: translateX(calc(-12px + -24 * (100vw - 320px) / 1080));
  }
}
.hero-logo__icon {
  max-width: 472px;
  margin-right: -73px;
}
@media (max-width: 1400px) {
  .hero-logo__icon {
    max-width: calc(140px + 332 * (100vw - 320px) / 1080);
  }
}
@media (max-width: 1400px) {
  .hero-logo__icon {
    margin-right: calc(-24px + -49 * (100vw - 320px) / 1080);
  }
}
.hero-logo__text {
  max-width: 900px;
}
@media (max-width: 1400px) {
  .hero-logo__text {
    max-width: calc(150px + 750 * (100vw - 320px) / 1080);
  }
}

.main-logo {
  max-width: 142px;
}
@media (max-width: 1200px) {
  .main-logo {
    max-width: calc(120px + 22 * (100vw - 320px) / 880);
  }
}
.main-logo img {
  width: 100%;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.article p {
  line-height: 150%;
}
.article p span {
  font-weight: 800;
}
.article h3, .article h4, .article h5 {
  font-size: 32px;
  line-height: 170%;
  font-weight: 800;
  margin-bottom: 20px;
}
@media (max-width: 1800px) {
  .article h3, .article h4, .article h5 {
    font-size: calc(18px + 14 * (100vw - 320px) / 1480);
  }
}
.article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
.article li {
  line-height: 160%;
  display: inline-block;
  padding-left: 40px;
  position: relative;
}
.article li::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 18px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}
@media (max-width: 1800px) {
  .article li::before {
    top: calc(11px + 7 * (100vw - 320px) / 1480);
  }
}

.screen {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .screen {
    min-height: 0 !important;
    height: auto;
  }
}
.screen__title {
  font-size: 110px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1800px) {
  .screen__title {
    font-size: calc(22px + 88 * (100vw - 320px) / 1480);
  }
}
.screen__title .purple {
  color: #B67DFF;
}
.screen__title .green {
  color: #0BF4A8;
}
.screen__title span {
  white-space: nowrap;
}
@media (max-width: 767.98px) {
  .screen__title span {
    white-space: wrap;
  }
}
.screen__title .label {
  display: inline-block;
  line-height: 150%;
  font-size: 28px;
  font-weight: 400;
  white-space: nowrap;
  width: auto;
}
@media (max-width: 1800px) {
  .screen__title .label {
    font-size: calc(12px + 16 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 767.98px) {
  .screen__title .label {
    width: 100%;
  }
}
.screen__title_small {
  font-size: 64px;
}
@media (max-width: 1800px) {
  .screen__title_small {
    font-size: calc(22px + 42 * (100vw - 320px) / 1480);
  }
}
.screen__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767.98px) {
  .screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 12px;
  }
}
.screen__logo {
  margin: 14px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .screen__logo {
    margin-left: auto;
    margin-top: 0;
  }
}
.screen_hero {
  padding: 76px 0;
  background: url("../img/page1/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1200px) {
  .screen_hero {
    padding-top: calc(24px + 52 * (100vw - 320px) / 880);
    padding-bottom: calc(24px + 52 * (100vw - 320px) / 880);
  }
}
@media (max-width: 1200px) {
  .screen_hero {
    min-height: 100vh !important;
  }
}
.screen_hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.screen_hero .screen__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.screen_hero .hero-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  height: auto;
}
.screen_second {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 62px 0;
}
@media (max-width: 1800px) {
  .screen_second {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
.screen_second .screen__decor {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 61.3vw;
  max-width: 1177px;
}
.screen_second .screen__decor img {
  width: 100%;
}
@media (max-width: 1200px) {
  .screen_second .screen__decor {
    display: none;
  }
}
.screen_second .screen__decor2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 43.33vw;
  max-width: 832px;
}
@media (max-width: 1800px) {
  .screen_second .screen__decor2 {
    top: calc(160px + -160 * (100vw - 991.98px) / 808.02);
  }
}
.screen_second .screen__decor2 img {
  width: 100%;
}
@media (max-width: 1200px) {
  .screen_second .screen__decor2 {
    display: none;
  }
}
.screen_second .screen__body {
  max-width: 45.83vw;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 75px;
  height: calc(100vh - 245px);
  overflow-y: auto;
}
@media (max-width: 1800px) {
  .screen_second .screen__body {
    gap: calc(20px + 55 * (100vw - 320px) / 1480);
    height: calc(100vh - (182px + 63 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1600px) {
  .screen_second .screen__body {
    max-width: 48vw;
  }
}
@media (max-width: 1200px) {
  .screen_second .screen__body {
    max-width: none;
    height: calc(100vh - (133px + 43 * (100vw - 767.98px) / 432.02));
  }
}
@media (max-width: 767.98px) {
  .screen_second .screen__body {
    height: calc(100vh - (146px + 34 * (100vw - 480px) / 287.98));
  }
}
@media (max-width: 480px) {
  .screen_second .screen__body {
    height: calc(100vh - (126px + 20 * (100vw - 320px) / 160));
  }
}
.screen_second .screen__header {
  margin-bottom: 70px;
}
@media (max-width: 1800px) {
  .screen_second .screen__header {
    margin-bottom: calc(20px + 50 * (100vw - 320px) / 1480);
  }
}
.screen_second .screen__title {
  text-transform: none;
}
.screen_staking {
  padding: 62px 0;
}
@media (max-width: 1800px) {
  .screen_staking {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
.screen_staking .screen__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 332px);
  overflow-y: auto;
}
@media (max-width: 1200px) {
  .screen_staking .screen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1800px) {
  .screen_staking .screen__body {
    height: calc(100vh - (238px + 94 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1200px) {
  .screen_staking .screen__body {
    gap: 20px;
    height: calc(100vh - (211px + 27 * (100vw - 1024px) / 176));
  }
}
@media (max-width: 1024px) {
  .screen_staking .screen__body {
    height: calc(100vh - (234px + 40 * (100vw - 767.98px) / 256.02));
  }
}
@media (max-width: 767.98px) {
  .screen_staking .screen__body {
    height: calc(100vh - (141px + 79 * (100vw - 320px) / 447.98));
  }
}
@media (max-width: 480px) {
  .screen_staking .screen__body {
    height: calc(100vh - (144px + 26 * (100vw - 320px) / 160));
  }
}
.screen_staking .screen__header {
  margin-bottom: 50px;
}
@media (max-width: 1800px) {
  .screen_staking .screen__header {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1024px) {
  .screen_staking .screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
  }
  .screen_staking .screen__header .main-logo {
    margin-left: auto;
  }
}
.screen_staking .screen__body-part:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}
.screen_staking .screen__body-part:nth-child(2) {
  padding-left: 80px;
  padding-bottom: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}
@media (max-width: 1800px) {
  .screen_staking .screen__body-part:nth-child(2) {
    padding-left: calc(30px + 50 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .screen_staking .screen__body-part:nth-child(2) {
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 480px) {
  .screen_staking .screen__body-part:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.screen_benefits {
  padding: 62px 0;
}
@media (max-width: 1800px) {
  .screen_benefits {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
.screen_benefits .screen__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 332px);
  overflow-y: auto;
}
@media (max-width: 1200px) {
  .screen_benefits .screen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1800px) {
  .screen_benefits .screen__body {
    height: calc(100vh - (238px + 94 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1200px) {
  .screen_benefits .screen__body {
    gap: 20px;
    height: calc(100vh - (211px + 27 * (100vw - 1024px) / 176));
  }
}
@media (max-width: 1224px) {
  .screen_benefits .screen__body {
    height: calc(100vh - (234px + 40 * (100vw - 767.98px) / 256.02));
  }
}
@media (max-width: 767.98px) {
  .screen_benefits .screen__body {
    height: calc(100vh - (177px + 93 * (100vw - 320px) / 447.98));
  }
}
@media (max-width: 480px) {
  .screen_benefits .screen__body {
    height: calc(100vh - (180px + 31 * (100vw - 320px) / 160));
  }
}
.screen_benefits .screen__header {
  margin-bottom: 50px;
}
@media (max-width: 1800px) {
  .screen_benefits .screen__header {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1224px) {
  .screen_benefits .screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
  }
  .screen_benefits .screen__header .main-logo {
    margin-left: auto;
  }
}
.screen_benefits .screen__body-part:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51%;
          flex: 0 0 51%;
}
.screen_benefits .screen__body-part:nth-child(2) {
  padding-left: 80px;
  padding-bottom: 20px;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}
@media (max-width: 1800px) {
  .screen_benefits .screen__body-part:nth-child(2) {
    padding-left: calc(30px + 50 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .screen_benefits .screen__body-part:nth-child(2) {
    padding-left: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .screen_benefits .screen__body-part:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.screen_map {
  padding: 62px 0;
}
@media (max-width: 1800px) {
  .screen_map {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
.screen_map .article p {
  font-size: 22px;
}
@media (max-width: 1800px) {
  .screen_map .article p {
    font-size: calc(18px + 4 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 767.98px) {
  .screen_map .screen__title {
    max-width: 600px;
  }
}
.screen_map .screen__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 178px);
  gap: 110px;
  overflow-y: auto;
}
@media (max-width: 1200px) {
  .screen_map .screen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1800px) {
  .screen_map .screen__body {
    gap: calc(20px + 55 * (100vw - 1200px) / 600);
    height: calc(100vh - (148px + 30 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1200px) {
  .screen_map .screen__body {
    max-width: none;
    height: calc(100vh - (170px + 34 * (100vw - 767.98px) / 432.02));
  }
}
@media (max-width: 767.98px) {
  .screen_map .screen__body {
    height: calc(100vh - (162px + 28 * (100vw - 480px) / 287.98));
  }
}
@media (max-width: 480px) {
  .screen_map .screen__body {
    height: calc(100vh - (142px + 20 * (100vw - 320px) / 160));
  }
}
.screen_map .screen__header {
  margin-bottom: 50px;
}
@media (max-width: 1800px) {
  .screen_map .screen__header {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1200px) {
  .screen_map .screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
  }
  .screen_map .screen__header .main-logo {
    margin-left: auto;
  }
}
.screen_map .screen__body-part {
  padding-bottom: 20px;
}
.screen_map .screen__body-part:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
@media (max-width: 1200px) {
  .screen_map .screen__body-part:nth-child(1) {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 800px;
    margin: 0 auto;
  }
}
.screen_map .screen__body-part:nth-child(2) {
  padding: 0 72px;
  padding-bottom: 20px;
  height: 100%;
}
@media (max-width: 1800px) {
  .screen_map .screen__body-part:nth-child(2) {
    padding-left: calc(30px + 42 * (100vw - 1200px) / 600);
    padding-right: calc(30px + 42 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .screen_map .screen__body-part:nth-child(2) {
    padding: 0;
    padding-bottom: 20px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .screen_map .screen__body-part:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.screen_projects {
  padding: 62px 0;
  position: relative;
}
@media (max-width: 1800px) {
  .screen_projects {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
.screen_projects .article {
  padding-bottom: 500px;
}
@media (max-width: 767.98px) {
  .screen_projects .article {
    width: 100%;
  }
}
.screen_projects .article p {
  font-size: 25px;
  max-width: 520px;
}
@media (max-width: 1800px) {
  .screen_projects .article p {
    font-size: calc(18px + 7 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 767.98px) {
  .screen_projects .article p {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 1800px) {
  .screen_projects .article {
    padding-bottom: calc(330px + 170 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .screen_projects .article {
    padding-bottom: 20px;
  }
}
.screen_projects .decor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 52.92vw;
}
.screen_projects .screen__title {
  text-transform: none;
  max-width: 545px;
  font-size: 73px;
}
@media (max-width: 1800px) {
  .screen_projects .screen__title {
    font-size: calc(22px + 51 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1200px) {
  .screen_projects .screen__title {
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .screen_projects .screen__title {
    max-width: 460px;
  }
}
.screen_projects .screen__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: hidden;
}
@media (max-width: 767.98px) {
  .screen_projects .screen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: calc(100vh - (162px + 28 * (100vw - 480px) / 287.98));
  }
}
@media (max-width: 480px) {
  .screen_projects .screen__body {
    height: calc(100vh - (142px + 20 * (100vw - 320px) / 160));
  }
}
.screen_projects .screen__header {
  margin-bottom: 50px;
}
@media (max-width: 1800px) {
  .screen_projects .screen__header {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1200px) {
  .screen_projects .screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
  }
  .screen_projects .screen__header .main-logo {
    margin-left: auto;
  }
}
.screen_projects .screen__wrapper {
  position: relative;
}
.screen_points {
  padding: 62px 0;
  position: relative;
}
@media (max-width: 1800px) {
  .screen_points {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 767.98px) {
  .screen_points .article {
    width: 100%;
  }
}
.screen_points .article p {
  font-size: 25px;
}
@media (max-width: 1800px) {
  .screen_points .article p {
    font-size: calc(18px + 7 * (100vw - 320px) / 1480);
  }
}
.screen_points .article:nth-child(1) {
  max-width: 53vw;
}
@media (max-width: 1200px) {
  .screen_points .article:nth-child(1) {
    max-width: none;
  }
}
.screen_points .points__list {
  max-width: 60vw;
}
@media (max-width: 1200px) {
  .screen_points .points__list {
    max-width: none;
  }
}
.screen_points .points__list-second {
  max-width: 66vw;
}
@media (max-width: 1200px) {
  .screen_points .points__list-second {
    max-width: none;
  }
}
.screen_points .decor {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 36.46vw;
  width: 100%;
}
@media (max-width: 1200px) {
  .screen_points .decor {
    display: none;
  }
}
.screen_points .decor img {
  width: 100%;
}
.screen_points .screen__title {
  text-transform: none;
  max-width: 960px;
}
@media (max-width: 1200px) {
  .screen_points .screen__title {
    max-width: none;
  }
}
@media (max-width: 767.98px) {
  .screen_points .screen__title {
    max-width: 460px;
  }
}
.screen_points .screen__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 334px);
  overflow-y: auto;
  padding-bottom: 20px;
}
@media (max-width: 1800px) {
  .screen_points .screen__body {
    height: calc(100vh - (238px + 96 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1200px) {
  .screen_points .screen__body {
    height: calc(100vh - (232px + 72 * (100vw - 767.98px) / 432.02));
  }
}
@media (max-width: 767.98px) {
  .screen_points .screen__body {
    height: calc(100vh - (141px + 77 * (100vw - 320px) / 447.98));
  }
}
.screen_points .screen__header {
  margin-bottom: 50px;
}
@media (max-width: 1800px) {
  .screen_points .screen__header {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1200px) {
  .screen_points .screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
  }
  .screen_points .screen__header .main-logo {
    margin-left: auto;
  }
}
.screen_points .screen__wrapper {
  position: relative;
}
.screen_artists {
  padding: 62px 0;
}
@media (max-width: 1800px) {
  .screen_artists {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
.screen_artists .article p {
  text-transform: uppercase;
}
.screen_artists .screen__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
  height: calc(100vh - 332px);
  overflow-y: auto;
}
@media (max-width: 1800px) {
  .screen_artists .screen__body {
    gap: calc(10px + 80 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .screen_artists .screen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 1800px) {
  .screen_artists .screen__body {
    height: calc(100vh - (238px + 94 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1200px) {
  .screen_artists .screen__body {
    gap: 20px;
    height: calc(100vh - (211px + 27 * (100vw - 1024px) / 176));
  }
}
@media (max-width: 1024px) {
  .screen_artists .screen__body {
    height: calc(100vh - (234px + 40 * (100vw - 767.98px) / 256.02));
  }
}
@media (max-width: 767.98px) {
  .screen_artists .screen__body {
    height: calc(100vh - (141px + 79 * (100vw - 320px) / 447.98));
  }
}
@media (max-width: 480px) {
  .screen_artists .screen__body {
    height: calc(100vh - (144px + 26 * (100vw - 320px) / 160));
  }
}
.screen_artists .screen__header {
  margin-bottom: 50px;
}
@media (max-width: 1800px) {
  .screen_artists .screen__header {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1024px) {
  .screen_artists .screen__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 8px;
  }
  .screen_artists .screen__header .main-logo {
    margin-left: auto;
  }
}
.screen_artists .screen__body-part:nth-child(1) {
  width: 600px;
}
@media (max-width: 1800px) {
  .screen_artists .screen__body-part:nth-child(1) {
    width: calc(500px + 100 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .screen_artists .screen__body-part:nth-child(1) {
    width: 100%;
  }
}
.screen_artists .screen__body-part:nth-child(2) {
  padding-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 7%;
}
@media (max-width: 767.98px) {
  .screen_artists .screen__body-part:nth-child(2) {
    padding-left: 0;
  }
}
.screen_mission {
  padding: 62px 0;
  background: url("../img/page9/bg.png") no-repeat;
  background-size: 100%;
  background-position: center;
  background-position-y: -160px;
  position: relative;
}
@media (max-width: 1800px) {
  .screen_mission {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1800px) {
  .screen_mission {
    background-position-y: calc(-20px + -140 * (100vw - 767.98px) / 1032.02) !important;
  }
}
@media (max-width: 767.98px) {
  .screen_mission {
    background: none;
  }
}
.screen_mission .decor {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 65.47vw;
  width: 100%;
}
.screen_mission .decor img {
  width: 100%;
}
.screen_mission .article__wrapper {
  position: relative;
  margin-top: 110px;
}
@media (max-width: 1800px) {
  .screen_mission .article__wrapper {
    margin-top: calc(40px + 70 * (100vw - 767.98px) / 1032.02);
  }
}
@media (max-width: 767.98px) {
  .screen_mission .article__wrapper {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .screen_mission .article p {
    margin: 0 auto;
    text-align: center;
  }
}
.screen_mission .screen__title {
  font-size: 98px;
  margin-bottom: 22px;
}
@media (max-width: 1800px) {
  .screen_mission .screen__title {
    font-size: calc(66px + 32 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .screen_mission .screen__title {
    font-size: calc(42px + 24 * (100vw - 767.98px) / 432.02);
  }
}
@media (max-width: 767.98px) {
  .screen_mission .screen__title {
    font-size: calc(26px + 16 * (100vw - 480px) / 287.98);
  }
}
@media (max-width: 480px) {
  .screen_mission .screen__title {
    font-size: calc(20px + 6 * (100vw - 320px) / 160);
    max-width: 420px;
  }
}
.screen_mission .screen__body {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 20px;
  height: calc(100vh - 122px);
  overflow-y: auto;
}
@media (max-width: 1200px) {
  .screen_mission .screen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1800px) {
  .screen_mission .screen__body {
    height: calc(100vh - (111px + 11 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1200px) {
  .screen_mission .screen__body {
    height: calc(100vh - (96px + 15 * (100vw - 767.98px) / 432.02));
  }
}
@media (max-width: 767.98px) {
  .screen_mission .screen__body {
    height: calc(100vh - (71px + 11 * (100vw - 320px) / 447.98));
  }
}
.screen_mission .screen__header {
  width: 100%;
}
.screen_mission .screen__header .main-logo {
  margin-left: auto;
}
.screen_end {
  padding: 62px 0;
  background: url("../img/page10/bg.png") no-repeat;
  background-size: 100%;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1800px) {
  .screen_end {
    padding-top: calc(30px + 32 * (100vw - 320px) / 1480);
    padding-bottom: calc(30px + 32 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 1200px) {
  .screen_end {
    min-height: 100vh !important;
  }
}
.screen_end .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.screen_end .screen__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767.98px) {
  .screen_end {
    background-size: 130%;
  }
}
@media (max-width: 480px) {
  .screen_end {
    background-size: 150%;
  }
}
.screen_end .article {
  margin: auto 0;
}
@media (max-width: 767.98px) {
  .screen_end .article:first-child {
    margin-bottom: 0;
  }
  .screen_end .article:last-child {
    margin-top: 90px;
  }
}
.screen_end .screen__title {
  margin-bottom: 22px;
}
@media (max-width: 1800px) {
  .screen_end .screen__title {
    font-size: calc(32px + 78 * (100vw - 320px) / 1480) !important;
  }
}
.screen_end .screen__body {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 20px;
  height: calc(100vh - 122px);
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 auto !important;
          flex: 1 1 auto !important;
  overflow-y: auto;
}
@media (max-width: 1200px) {
  .screen_end .screen__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 1800px) {
  .screen_end .screen__body {
    height: calc(100vh - (111px + 11 * (100vw - 1200px) / 600));
  }
}
@media (max-width: 1200px) {
  .screen_end .screen__body {
    height: calc(100vh - (96px + 15 * (100vw - 767.98px) / 432.02));
  }
}
@media (max-width: 767.98px) {
  .screen_end .screen__body {
    height: calc(100vh - (71px + 11 * (100vw - 320px) / 447.98));
  }
}
.screen_end .screen__header {
  width: 100%;
}
.screen_end .screen__header .main-logo {
  margin-left: auto;
}
.screen__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.screen__wrapper .copyright {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 480px) {
  .screen__wrapper .copyright {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.screen__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
  height: auto !important;
}
.screen__body-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.screen__body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
}
@media (max-width: 1200px) {
  .screen__body::-webkit-scrollbar {
    width: calc(6px + 4 * (100vw - 320px) / 880);
  }
}
.screen__body::-webkit-scrollbar-thumb {
  background: #B67DFF;
  border-radius: 2px;
}

.staking__preview {
  width: 100%;
  max-width: 670px;
}
.staking__preview img {
  width: 100%;
}

.benefits__preview {
  width: 100%;
  max-width: 650px;
  margin: auto 0;
}
.benefits__preview img {
  width: 100%;
}

.map__preview {
  width: 100%;
  max-width: 875px;
}
.map__preview img {
  width: 100%;
}

.projects__preview {
  max-width: 75.63%;
  position: absolute;
  top: -40px;
  right: 0;
}
@media (max-width: 1800px) {
  .projects__preview {
    top: calc(-20px + -20 * (100vw - 1200px) / 600);
  }
}
@media (max-width: 1200px) {
  .projects__preview {
    max-width: 72%;
    position: static;
  }
}
@media (max-width: 767.98px) {
  .projects__preview {
    max-width: 100%;
  }
}
.projects__preview img {
  width: 100%;
}

.breadcramps__el {
  display: inline-block;
}
.breadcramps__el:not(:last-child)::after {
  content: "->";
  color: #0BF4A8;
  line-height: 170%;
}

.box-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0;
  border: 1px solid #fff;
}
@media (max-width: 1200px) {
  .box-card {
    margin: 30px 25px;
  }
}
.box-card__title {
  margin: 25px 14px;
  margin-bottom: 18px;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
@media (max-width: 1800px) {
  .box-card__title {
    font-size: calc(18px + 4 * (100vw - 320px) / 1480);
  }
}
.box-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  padding-bottom: 14px;
}
.box-card__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  gap: 6px;
  background-color: #000;
  -webkit-transform: translateX(-25px);
          transform: translateX(-25px);
}
.box-card__area:nth-child(2n) {
  margin-left: auto;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}
.box-card__num {
  font-weight: 500;
  font-size: 94px;
  font-family: Readex Pro;
}
@media (max-width: 1800px) {
  .box-card__num {
    font-size: calc(30px + 64 * (100vw - 320px) / 1480);
  }
}
.box-card__area-headline {
  font-size: 25px;
  font-weight: 800;
}
@media (max-width: 1800px) {
  .box-card__area-headline {
    font-size: calc(20px + 5 * (100vw - 320px) / 1480);
  }
}
.box-card__value {
  font-size: 25px;
  font-weight: 300;
}
@media (max-width: 1800px) {
  .box-card__value {
    font-size: calc(20px + 5 * (100vw - 320px) / 1480);
  }
}

.artists__frame {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 500px;
  padding: 50px;
}
@media (max-width: 1200px) {
  .artists__frame {
    min-height: calc(300px + 200 * (100vw - 320px) / 880);
  }
}
@media (max-width: 480px) {
  .artists__frame {
    padding-left: calc(20px + 30 * (100vw - 320px) / 160);
    padding-right: calc(20px + 30 * (100vw - 320px) / 160);
  }
}
.artists__frame::after {
  content: "";
  position: absolute;
  width: calc(100% - 42px);
  height: calc(100% - 32px);
  border: 1px solid #fff;
  top: 10%;
  right: 7%;
}
@media (max-width: 480px) {
  .artists__frame::after {
    width: calc(100% - 12px);
  }
}
@media (max-width: 767.98px) {
  .artists__frame::after {
    top: 4.2%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
.artists__frame .frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.artists__frame .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
.artists__frame .article {
  max-width: 700px;
}
.artists__frame .article p {
  font-size: 35px;
  line-height: 170%;
}
@media (max-width: 1800px) {
  .artists__frame .article p {
    font-size: calc(18px + 17 * (100vw - 320px) / 1480);
  }
}
.artists__frame .article p:first-child {
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 20px;
}
@media (max-width: 1800px) {
  .artists__frame .article p:first-child {
    font-size: calc(20px + 20 * (100vw - 320px) / 1480);
  }
}
.artists__frame .article li {
  font-size: 35px;
  line-height: 170%;
}
@media (max-width: 1800px) {
  .artists__frame .article li {
    font-size: calc(18px + 17 * (100vw - 320px) / 1480);
  }
}
.artists__frame .article li::before {
  top: 26px;
}
@media (max-width: 1800px) {
  .artists__frame .article li::before {
    top: calc(11px + 15 * (100vw - 320px) / 1480);
  }
}

.mission__bottom {
  margin-top: 70px !important;
  margin-bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}
@media (max-width: 1800px) {
  .mission__bottom {
    margin-top: calc(40px + 30 * (100vw - 767.98px) / 1032.02) !important;
  }
}
@media (max-width: 767.98px) {
  .mission__bottom {
    margin-top: 40px !important;
  }
}
.mission__bottom p {
  font-size: 20px;
  text-align: right;
}
@media (max-width: 1800px) {
  .mission__bottom p {
    font-size: calc(16px + 4 * (100vw - 320px) / 1480);
  }
}
@media (max-width: 767.98px) {
  .mission__bottom p {
    margin-left: auto;
  }
}
@media (max-width: 480px) {
  .mission__bottom p {
    margin: 0 auto;
    text-align: center;
  }
}
.mission__bottom .decor-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53%;
          flex: 0 0 53%;
}
@media (max-width: 767.98px) {
  .mission__bottom .decor-line {
    display: none;
  }
}

.decor-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  min-width: 34vw;
  padding: 1px 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 767.98px) {
  .decor-line {
    display: none;
  }
}
.decor-line_top {
  margin-top: auto;
}
.decor-line::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.decor-line::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  border-radius: 50%;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}